.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.logo_container{
    margin: 25px 0 0 25px;
}
.App{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
  button {
    background: midnightblue;
    color: #fff;
    margin: 0.3rem;
    font-size: 2.6rem;
    border: 1px solid #0a0a0a;
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
.operator_button{
    background: steelblue;
}
.special_button{
    background: royalblue;
}
.number_pad, .special_row{
    width: 350px;
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.keypad_container{
    display: flex;
    margin: 25px;
    
}
.operator_column{
    display: flex;
    flex-direction: column;
}
/* *{
    border: 2px solid black;
} */
